{{#with course}}
<div class="details-container">
    <div class="details-container-image">
        <img src="{{image}}" alt="">
    </div>

    <div class="details-container-info">
        <h2>Title: {{title}}</h2>
        <h3>Type: {{type}}</h3>
        <h3>Certificate: {{certificate}}</h3>
        <h3>Price: €{{price}}</h3>
        <h3>By: {{createdBy}}</h3>

        {{#if isSignUp}}
        <h4>Signed By: cate.brown, nikolas.p</h4>
        {{else}}
        <h4>Nobody has signed in for this course yet</h4>
        {{/if}}
    </div>

    <div class="details-container-content">
        <p>{{description}}</p>
    </div>

    {{#if hasUser}}
    <div class="btn-container">
        <!-- Only for registered user and creator of the course-->
        <a href="/edit/{{_id}}">Edit</a>
        <a href="/delete/{{_id}}">Delete</a>
        <!-- logged in user who has not yet sign up for the course-->
        <a href="/sign-up/{{_id}}">Sign up</a>
        <!-- logged in user who has already sign up for the course-->
        <p class="sign-up">You've already signed up for this course!</p>
    </div>
    {{/if}}
</div>
{{/with}}
