<section id="create-container">
    <div class="create-container-info">
        <h1>Create Volcano Wiki</h1>
        <form method="post" name="create-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="..." {{#if data.name}} value="{{data.name}}"{{/if}}>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="..." {{#if data.location}} value="{{data.location}}"{{/if}}>
            <label for="elevations">Elevation:</label>
            <input type="number" id="elevations" name="elevations" placeholder="..." {{#if data.elevations}} value="{{data.elevations}}"{{/if}}>
            <label for="last-year-eruption">Year of Last Eruption:</label>
            <input type="number" id="last-year-eruption" name="lastEruption" placeholder="..." {{#if data.lastEruption}} value="{{data.lastEruption}}"{{/if}}>
            <label for="image">Image:</label>
            <input type="text" id="image" name="image" placeholder="http://..." {{#if data.image}} value="{{data.image}}"{{/if}}>
            <label for="type">Volcano Type:</label>
            <select id="type" name="typeVolcano" autocomplete="off">
                {{#if data.typeVolcano}}
                <option value="{{data.typeVolcano}}" hidden="hidden" selected="selected">{{data.typeVolcano}}</option>
                {{else}}
                <option value="---" hidden="hidden" selected="selected">---</option>
                {{/if}}
                <option value="Supervolcanoes">Supervolcanoes</option>
                <option value="Submarine">Submarine</option>
                <option value="Subglacial">Subglacial</option>
                <option value="Mud">Mud</option>
                <option value="Stratovolcanoes">Stratovolcanoes</option>
                <option value="Shield">Shield</option>
            </select>
            <label>Description:</label>
            <textarea id="description" name="description" placeholder="...">{{#if data.description}} value="{{data.description}}"{{/if}}</textarea>
            <input type="submit" id="btn" value="Submit"></input>
        </form>
    </div>
</section>
