<section id="edit-container">
    <div class="edit-container-info">
        <h1>Edit Announcement</h1>
        <form method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="..."  value="{{data.name}}">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="..."  value="{{data.location}}">
            <label for="elevations">Elevation:</label>
            <input type="number" id="elevations" name="elevation" placeholder="..."  value="{{data.elevation}}">
            <label for="last-year-eruption">Year of Last Eruption:</label>
            <input type="number" id="last-year-eruption" name="lastEruption" placeholder="..."  value="{{data.lastEruption}}">
            <label for="image">Image:</label>
            <input type="text" id="image" name="image" placeholder="http://..."  value="{{data.image}}">
            <label for="type">Volcano Type:</label>
            <select id="type" name="typeVolcano" autocomplete="off">
                <option value="{{data.typeVolcano}}" hidden="hidden" selected="selected">{{data.typeVolcano}}</option>
                <option value="Supervolcanoes">Supervolcanoes</option>
                <option value="Submarine">Submarine</option>
                <option value="Subglacial">Subglacial</option>
                <option value="Mud">Mud</option>
                <option value="Stratovolcanoes">Stratovolcanoes</option>
                <option value="Shield">Shield</option>
            </select>
            <label>Description:</label>
            <textarea id="description" name="description" placeholder="...">{{data.description}}</textarea>
            <input type="submit" id="btn" value="Submit"></input>
        </form>
    </div>
</section>
